<header>
    <div class="content">
        <div class="logo">
            <img src="/icon/KitchenGuard.svg">
            <a href="/"> MALTEC Kitchen Guard</a>
        </div>

        <% if(typeof req != 'undefined' && req.user) { %>
            <span>Logged in as <a class="emph" href="/users/myaccount"><%= req.user.name %></a></span>
            <a class="btn" href="/users/logout">Logout</a>
        <% } else { %>
            <% if (registration_enabled) { %>
                <a class="btn" href="/users/register">Register</a>
            <% } %> 
            <a class="btn" href="/users/login">Login</a>
        <% } %>
    </div>
</header>