<% if(typeof errors!= 'undefined') { %>
    <%    errors.forEach(function(error){ %>
        <p> <%= error.msg %></p>
    <%    })        %>
<% } %>

<% if(typeof success_msg != 'undefined' && success_msg != '') { %>
    <p><%=success_msg %> </p>
<% } %>