<div>
    <div class="range-selector">
        <span>Start time</span>
        <input onchange="updateChart" type="datetime-local" id="start-time" name="start-time" value="<%= new Date().now%>" >
        <span>End time</span>
        <input onchange="updateChart" type="datetime-local" id="end-time" name="end-time">

    </div>
    <!-- TODO: make chart size responsive-->
    <!-- TODO: Sort chart data according to input above ↑ -->
    <canvas id="myChart"></canvas>

    <script>
        function updateChart() {
          
        }
        
        fetch("/api/<%= req.params.dbname %>/activities").then((response) => {
            response.json().then(responsedata => {
                
                let data = []
                for (let act of responsedata.data) {

                    data.push({
                        x: new Date(act.start),
                        y: true
                    })
                    data.push({
                        x: new Date(act.end),
                        y: false
                    })
                }
                console.log(data)

                let chart = new Chart(document.getElementById('myChart'),{
                    type: 'line',
                    data: {
                        datasets: [{
                            label: "Activity",
                            data: data,
                            fill: true,
                            stepped: true,
                            borderColor: "#00FF00",
                            backgroundColor: "rgba(0,100,0,0.5)"
                        }]
                    },
                    options: {
                        scales : {
                            x: {
                                type: 'time',
                                title: {
                                  display: true,
                                  text: 'Date'
                                }
                            }
                        }
                    }
                });
            })
        })
    </script>
</div>