<div class="plot-wrapper" id="<%= plot_id %>_wrapper">
    <div class="range-selector">
        <span>Start time</span>
        <input 
            onchange="update_chart('<%= plot_id %>', '<%= req.params.dbname %>')" 
            type="datetime-local" 
            id="<%= plot_id %>_start-time" 
            name="start-time" 
            value="<%= dayjs().subtract(7, 'day').format('YYYY-MM-DDTHH:mm') %>" >
        <span>End time</span>
        <input 
            onchange="update_chart('<%= plot_id %>', '<%= req.params.dbname %>')" 
            type="datetime-local" 
            id="<%= plot_id %>_end-time" 
            name="end-time" 
            value="<%= dayjs().format('YYYY-MM-DDTHH:mm') %>">
    </div>
    <div class="day_selector">
        <a href="javascript:set_datetime_selector('<%= plot_id %>_start-time', -1, 'h');
                            set_datetime_selector('<%= plot_id %>_end-time', 0, 's');
                            update_chart('<%= plot_id %>', '<%= req.params.dbname %>')">
            Last hour
        </a>
        | 
        <a href="javascript:set_datetime_selector('<%= plot_id %>_start-time', -24, 'h');
                            set_datetime_selector('<%= plot_id %>_end-time', 0, 's');
                            update_chart('<%= plot_id %>', '<%= req.params.dbname %>')">
            Last 24 hours
        </a>
        | 
        <a href="javascript:set_datetime_selector('<%= plot_id %>_start-time', -7, 'd');
                            set_datetime_selector('<%= plot_id %>_end-time', 0, 's');
                            update_chart('<%= plot_id %>', '<%= req.params.dbname %>')">
            Last 7 days
        </a>
        | 
        <a href="javascript:set_datetime_selector('<%= plot_id %>_start-time', -30, 'd');
                            set_datetime_selector('<%= plot_id %>_end-time', 0, 's');
                            update_chart('<%= plot_id %>', '<%= req.params.dbname %>')">
            Last 30 days
        </a>
    </div>
    <div class="chart-container" style="position: relative;">
        <canvas id="<%= plot_id %>"></canvas>
    </div>
    <script>init_chart("<%= plot_id %>", "<%= req.params.dbname %>")</script>
</div>