<h1>Dashboard</h1>
<p> Welcome <%= user.name %></p>

<p>Data tables are available for the following monitoring servers:</p>
<% for (let ms of mss){ %>
    <h2><%= ms.name %></h2>
    <a href="/dashboard/<%= ms.name %>/table">Data Tables</a>
    |
    <a href="/dashboard/<%= ms.name %>/plots">Plots</a>
    </br>
<% } %>

<div>
    <p>To add 
        <% if (mss.length > 0) { %>
            another
        <% } else { %>
            a
        <% } %>
        monitoring server, please open the terminal on the web server and run
    </p>
    <div class="terminal">
        <span>node setup --new-monitoring-server</span>
    </div>
</div>