<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- typeof title !='undefined' ? title + ' - ' : '' %>MALTEC Kitchen Guard
    </title>
    <link rel="preload" as="image" href="/icon/KitchenGuard.svg">
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <div id="page-wrapper">
        <%- include('partials/header') %>
            <main>
                <%- include ('./partials/messages') %>
                <%- body %>
            </main>
        <%- include('partials/footer') %>
    </div>
</body>

</html>