<h1>Tables from database</h1>
<!--
    <a href="?range=1">Example 1 (all)</a></br>
    <a href="?range=2">Example 2 (After 1960)</a></br>
    <a href="?range=3">Example 3 (Between 1890 and 1910)</a>
-->

<div class="table activity-instances">
    <div class="headers">
        <span>ID</span>
        <span>Start time</span>
        <span>End time</span>
    </div>
    <% for (let i of instances) { %>
    <div class="row">
        <span class="header">ID</span>
        <span><%= i.id %></span>
        
        <span class="header">Start time</span>
        <span><% if (i.start) { %><%= dayjs(i.start).format("YYYY-MM-DD HH:mm") %><% } %></span>
        
        <span class="header">End time</span>
        <span><% if (i.end) { %><%= dayjs(i.end).format("YYYY-MM-DD HH:mm") %><% } %></span>
    </div>
    <% } %>
</div>

<div class="table activity-events">
    <div class="headers">
        <span>EID</span>
        <span>CID</span>
        <span>Type</span>
        <span>Time</span>
    </div>
    <% for (let e of events) { %>
    <div class="row">
        <span class="header">EID</span>
        <span><%= e.event_id %></span>
        <span class="header">CID</span>
        <span><%= e.activity_id %></span>
        <span class="header">Type</span>
        <span><%= e.event_type %></span>
        <span class="header">Time</span>
        <span><%= dayjs(e.time).format("YYYY-MM-DD HH:mm:ss") %></span>
    </div>
    <% } %>
</div>