<h1>Welcome!</h1>
<p>Welcome to the MALTEC Kitchen Guard web app. Here you will be able to access your activity history for all your monitoring servers. </p>
<p>To get started, please login<% if (registration_enabled) { %> or register<% } %>.</p>