@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Default to dark mode colors */
:root {
    --page-bg-color: #222;
    --main-bg-color: rgba(255,255,255,0.08);
    --contentblock-bg-color: #3f3f3f;

    --primary-color-1:  #ff0055;
    --primary-color-2:  #aa0033;
    --primary-color-3:  #440011;

    --text-color-main: #eee;
    --text-color-unemph: #ccc;

    --header-text-color: var(--text-color-main);
    --header-unemph-color: var(--text-color-unemph);

    --max-content-width: 960px;
    transition: 1s;
}

@media (prefers-color-scheme: light) {
    :root {
        --page-bg-color: #ddd;
        --main-bg-color: rgba(255,255,255,0.4);
        --contentblock-bg-color: #f5f5f5;
    
        --primary-color-1:  #7800db;
        --primary-color-2:  #a522d5;
        --primary-color-3:  #550779;
    
        --text-color-main: #111;
        --text-color-unemph: #444;

        --header-text-color: #eee;
        --header-unemph-color: #ccc;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    font-family: 'Lato', sans-serif;
    color: var(--text-color-main);
    background-color: var(--page-bg-color);
}
body {
    display: flex;
    flex-flow: column;
    height: 100%;
}
#page-wrapper {
    display: grid;
    grid-template-rows: min-content auto min-content;
    position: relative;
    height: 100%;
}
body::after {
    content: "";
    background: url(/icon/KitchenGuard.svg) no-repeat;
    background-position: calc(100vw - 52vh) 10vh;
    background-size: 100vh;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }

a[href], a[href]:visited {
    color: var(--primary-color-1);
    text-decoration: none;
}
a[href]:hover{
    text-decoration: underline;
}
.emph {
    font-style: italic;
}

main {
    box-sizing: border-box;
    max-width: min(var(--max-content-width), 100vw);
    min-width: 360px;
    width: 100%;
    margin: 0 auto;
    padding: 1em 2em;
    background-color: var(--main-bg-color);
}

header, footer {
    background-color: var(--primary-color-3);
    color: var(--header-unemph-color);
    box-shadow: 0 0 20px black;
    z-index: 1;
}
header>.content, footer>.content {
    background-color: var(--primary-color-3);
    box-sizing: border-box;
    max-width: calc(var(--max-content-width) + 2em);
    width: 100%;
    margin: 0 auto;
    padding: 4pt 1em;
}

header a[href]:visited,
header a[href],
footer a[href]:visited,
footer a[href] {
    color: var(--header-text-color);
}

header a.btn[href], 
header a.btn[href]:visited,
footer a.btn[href], 
footer a.btn[href]:visited {
    background-color: var(--primary-color-2);
    padding: 6pt;
}

header>div {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    row-gap: 2pt;
}

header .logo {
    color: var(--header-text-color) !important;
    font-weight: 700;
    font-size: large;
    grid-row: 1 / span 2;
    display: flex;
    align-content: center;
}
header .logo a {
    background-color: transparent !important;
    padding: 0 !important;
    text-align: left;
    align-self: center;
}
header .logo img {
    max-width:100%;
    max-height:100%;
    height: 2em;
}

header a {
    text-align: center;
}

form {
    background-color: var(--contentblock-bg-color);
    max-width: calc(0.4 * var(--max-content-width));
    padding: 3em;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #222;
}
form>div {
    display: grid;
    margin: 1em 0;
    font-size: large;
}
input {
    border: none;
    background-color: #ddd;
    padding: .5em;
    font-size: large;
}
input:focus-visible{
    border: none;
    box-shadow: none;
}
form .btn-primary {
    border-radius: 0;
    border: none;
    font-size: large;
    padding: .5em;
    min-width: 40%;
    margin: 0 auto;
}

.terminal span::before {
    content: "$";
    display: inline-block;
    margin-right: 4px;
    color: var(--primary-color-1);
}
.terminal span {
    display: block;
}
.terminal {
    background-color: var(--contentblock-bg-color);
    font-family: 'Cascadia Code', 'Source Code Pro', 'Ubuntu Mono', monospace;
    padding: 1em;

}

@media screen and (min-width: 480px) {
    header>div {
        grid-template-columns: auto max-content max-content;
        column-gap: 4pt;
    }
}


/* Default for-mobile layout */
.table {
    background-color: var(--page-bg-color);
    padding:4pt;
    margin: 1em 0;
    display: grid;
    row-gap: 2pt;
}
.table>.headers {
    display: none;
}
.row>.header{
    font-weight: 700;
}
.table>.row {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1em;
    padding: 8pt;
    background-color: var(--main-bg-color);
}

/* Proper tables for desktop */
@media screen and (min-width: 600px) {
    .table>.headers {
        display: block;
        font-weight: 700;
    }
    .row>.header{
        display: none;
    }
    .table>.row, .table>.headers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1em;
        padding: 5pt;
        background-color: var(--main-bg-color);
    }
    .table.cooking-instances>.headers, .table.cooking-instances>.row {
        grid-template-columns: 4em 1fr 1fr;
    }
    .table.cooking-events>.headers, .table.cooking-events>.row {
        grid-template-columns: 4em 4em 1fr 2fr;
    }
}

.maltec {
    font-size: 0pt;
}
.maltec::after {
    font-size: medium;
    content: "MALTEC";
}
.maltec:hover::after {
    content: "Mikkel, Aleksander, Lisa & Tobias - Engineers of Computers";
}